maori_n8n_master_flow_v2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maori-vendas",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Plano B: Extrai o JSON enviado via urlenconded ou raw text\n  const rawBody = $input.first().json.payload || $input.first().json.body;\n  const data = typeof rawBody === 'string' ? JSON.parse(rawBody) : rawBody;\n  return data;\n} catch (e) {\n  return { error: \"Dados inválidos ou payload ausente\" };\n}"
      },
      "id": "6",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.asaas.com/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"name\"] }}\",\n  \"email\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"email\"] }}\",\n  \"cpfCnpj\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"cpfCnpj\"] }}\"\n}",
        "options": {}
      },
      "id": "2",
      "name": "Asaas Criar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ASAAS_CREDENTIAL_ID",
          "name": "Asaas Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.asaas.com/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer\": \"{{ $node[\"Asaas Criar Cliente\"].json[\"id\"] }}\",\n  \"billingType\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"billingType\"] }}\",\n  \"value\": {{ $node[\"Extrair Dados\"].json[\"payment\"][\"value\"] }},\n  \"dueDate\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"dueDate\"] }}\",\n  \"creditCard\": {\n    \"holderName\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"holderName\"] }}\",\n    \"number\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"number\"] }}\",\n    \"expiryMonth\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"expiryMonth\"] }}\",\n    \"expiryYear\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"expiryYear\"] }}\",\n    \"cvv\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"cvv\"] }}\",\n    \"ccv\": \"{{ $node[\"Extrair Dados\"].json[\"payment\"][\"creditCard\"][\"cvv\"] }}\"\n  },\n  \"creditCardHolderInfo\": {{ JSON.stringify($node[\"Extrair Dados\"].json[\"payment\"][\"creditCardHolderInfo\"]) }}\n}",
        "options": {}
      },
      "id": "3",
      "name": "Asaas Cobrar Cartão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ASAAS_CREDENTIAL_ID",
          "name": "Asaas Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pzewkvmaewnijwhxkqaj.supabase.co/rest/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"name\"] }}\",\n  \"email\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"email\"] }}\",\n  \"cpf\": \"{{ $node[\"Extrair Dados\"].json[\"customer\"][\"cpfCnpj\"] }}\",\n  \"whatsapp\": \"{{ $node[\"Extrair Dados\"].json[\"whatsapp\"] }}\",\n  \"produto\": \"{{ $node[\"Extrair Dados\"].json[\"produto\"] }}\",\n  \"tem_receita\": {{ $node[\"Extrair Dados\"].json[\"temReceita\"] === \"sim\" ? \"true\" : \"false\" }},\n  \"payment_id\": \"{{ $node[\"Asaas Cobrar Cartão\"].json[\"id\"] }}\",\n  \"status\": \"aprovado\"\n}",
        "options": {}
      },
      "id": "4",
      "name": "Supabase Salvar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Admin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zpro-akin.uazapi.com/message/sendText/Maori Vendas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"55{{ $node[\"Extrair Dados\"].json[\"whatsapp\"].replace(/\\D/g, '') }}\",\n  \"options\": { \"delay\": 1200, \"presence\": \"composing\" },\n  \"textMessage\": {\n    \"text\": \"{{ $node[\"Extrair Dados\"].json[\"temReceita\"] === 'sim' ? 'Oi, ' + $node[\"Extrair Dados\"].json[\"customer\"][\"name\"] + ', tudo bem?\\\\nSeja bem-vindo à Maori Saúde.\\\\nRecebemos sua receita e o pagamento do seu tratamento (' + $node[\"Extrair Dados\"].json[\"produto\"] + '), e já fizemos a validação inicial por aqui...\\\\nPosso te enviar os horários disponíveis?' : 'Oi, ' + $node[\"Extrair Dados\"].json[\"customer\"][\"name\"] + ', tudo bem?\\\\nSeja bem-vindo à Maori Saúde.\\\\nRecebemos o pagamento do seu tratamento (' + $node[\"Extrair Dados\"].json[\"produto\"] + ') e já iniciamos seu onboarding por aqui...\\\\nPosso te enviar os horários disponíveis?' }}\"\n  }\n}",
        "options": {}
      },
      "id": "5",
      "name": "UAZAPI Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_UAZAPI_CREDENTIAL_ID",
          "name": "UAZAPI Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Asaas Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas Criar Cliente": {
      "main": [
        [
          {
            "node": "Asaas Cobrar Cartão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas Cobrar Cartão": {
      "main": [
        [
          {
            "node": "Supabase Salvar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Salvar Cliente": {
      "main": [
        [
          {
            "node": "UAZAPI Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
