n8n_workflow_nova_receita.json
{
  "name": "Maori - Nova Receita e Questionário → Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-receita",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook - Recebe Dados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "maori-nova-receita-2026"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-has-file",
              "leftValue": "={{ $json.body.arquivo_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-001",
      "name": "Tem arquivo PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook - Recebe Dados').item.json.body.arquivo_url }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf_receita"
            }
          }
        }
      },
      "id": "node-http-002",
      "name": "HTTP - Baixar PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [540, 180]
    },
    {
      "parameters": {
        "sendTo": "SEU_EMAIL@gmail.com",
        "subject": "=📋 Nova Receita - {{ $('Webhook - Recebe Dados').item.json.body.nome }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #e0e0e0;border-radius:12px;overflow:hidden\"><div style=\"background:#0047AB;padding:20px 24px\"><h2 style=\"color:white;margin:0\">📋 Nova Receita Recebida</h2><p style=\"color:#cce5ff;margin:4px 0 0\">Site Maori</p></div><div style=\"padding:24px\"><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#555;width:120px\">👤 Nome</td><td style=\"padding:8px 0;font-weight:bold\">{{ $('Webhook - Recebe Dados').item.json.body.nome }}</td></tr><tr style=\"background:#f9f9f9\"><td style=\"padding:8px 0;color:#555\">📧 E-mail</td><td style=\"padding:8px 0\">{{ $('Webhook - Recebe Dados').item.json.body.email }}</td></tr><tr><td style=\"padding:8px 0;color:#555\">📱 WhatsApp</td><td style=\"padding:8px 0\">{{ $('Webhook - Recebe Dados').item.json.body.whatsapp }}</td></tr></table><p style=\"margin-top:20px;color:#555\">O PDF com assinatura do paciente está <strong>anexado</strong>.</p><p style=\"margin-top:8px;color:#888;font-size:13px\">CRM: <a href=\"https://siteakin.relatorios1.workers.dev/crm\">Abrir CRM</a></p></div></div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [{ "property": "pdf_receita" }]
          }
        }
      },
      "id": "node-gmail-receita",
      "name": "Gmail - Receita com PDF",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [760, 180],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "sendTo": "SEU_EMAIL@gmail.com",
        "subject": "=📝 Questionário Respondido - {{ $json.body.nome }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #e0e0e0;border-radius:12px;overflow:hidden\"><div style=\"background:#16A34A;padding:20px 24px\"><h2 style=\"color:white;margin:0\">📝 Questionário Respondido</h2><p style=\"color:#dcfce7;margin:4px 0 0\">Site Maori – Lead Qualificado</p></div><div style=\"padding:24px\">{{ $json.body.respostas_html }}<p style=\"margin-top:16px;color:#888;font-size:13px\">CRM: <a href=\"https://siteakin.relatorios1.workers.dev/crm\">Abrir CRM</a></p></div></div>"
      },
      "id": "node-gmail-questionario",
      "name": "Gmail - Respostas Questionário",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [760, 420],
      "credentials": { "gmailOAuth2": { "id": "", "name": "Gmail account" } }
    }
  ],
  "connections": {
    "Webhook - Recebe Dados": {
      "main": [[{ "node": "Tem arquivo PDF?", "type": "main", "index": 0 }]]
    },
    "Tem arquivo PDF?": {
      "main": [
        [{ "node": "HTTP - Baixar PDF", "type": "main", "index": 0 }],
        [{ "node": "Gmail - Respostas Questionário", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Baixar PDF": {
      "main": [[{ "node": "Gmail - Receita com PDF", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
