N8N worflow/flow4_receita.json
{
  "name": "Maori - Receita com Marca Dagua",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receita-maori",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-receita",
      "name": "Webhook Receita",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst binaryParts = $input.first().binary || {};\n\n// Se vier via FormData (binário direto)\nif (binaryParts.arquivo_receita) {\n    return [{\n        json: input,\n        binary: {\n            data: binaryParts.arquivo_receita\n        }\n    }];\n}\n\n// Suporte para o modo texto antigo (fallback)\nlet data = input.body || input;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch(e) {}\n}\n\nreturn [{ json: data, binary: binaryParts }];"
      },
      "id": "extrair-dados",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import base64\nimport io\nfrom pypdf import PdfReader, PdfWriter\nfrom reportlab.pdfgen import canvas\nfrom reportlab.lib.pagesizes import A4\nfrom reportlab.lib.colors import Color\n\nitem = _input.first().json\n\n# Decodificar PDF base64\npdf_bytes = base64.b64decode(item['arquivo_base64'])\n\n# Dados do cliente\nnome = item.get('nome', '')\nemail = item.get('email', '')\ntelefone = item.get('whatsapp', '')\nmarca_texto = f'Receita enviada por: {nome} | E-mail: {email} | WhatsApp: {telefone}'\n\n# Criar rodape com marca dagua\npacket = io.BytesIO()\ncan = canvas.Canvas(packet, pagesize=A4)\nwidth, height = A4\n\n# Fundo amarelo no rodape\ncan.setFillColor(Color(1, 1, 0, alpha=0.5))\ncan.rect(0, 0, width, 25, fill=True, stroke=False)\n\n# Texto do rodape\ncan.setFillColor(Color(0, 0, 0, alpha=1))\ncan.setFont('Helvetica', 8)\ncan.drawCentredString(width/2, 8, marca_texto)\ncan.save()\n\npacket.seek(0)\nwatermark_pdf = PdfReader(packet)\n\n# Aplicar em todas as paginas\nreader = PdfReader(io.BytesIO(pdf_bytes))\nwriter = PdfWriter()\n\nfor page in reader.pages:\n    page.merge_page(watermark_pdf.pages[0])\n    writer.add_page(page)\n\n# Exportar PDF final\noutput = io.BytesIO()\nwriter.write(output)\noutput.seek(0)\n\npdf_final_base64 = base64.b64encode(output.read()).decode('utf-8')\n\nreturn [{\n    'json': {\n        'nome': nome,\n        'email': email,\n        'whatsapp': telefone\n    },\n    'binary': {\n        'data': {\n            'data': pdf_final_base64,\n            'mimeType': 'application/pdf',\n            'fileName': f'receita_{nome.replace(\" \", \"_\")}.pdf'\n        }\n    }\n}]"
      },
      "id": "marca-dagua",
      "name": "Marca Dagua PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "sendTo": "relatorios1@akinconsultoria.com",
        "subject": "=📄 Nova Receita - {{ $json.nome }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family:sans-serif;color:#333;\">\n  <div style=\"max-width:600px;margin:20px auto;border:1px solid #eee;border-radius:12px;overflow:hidden;\">\n    <div style=\"background:#0047AB;color:white;padding:25px;text-align:center;\">\n      <h2 style=\"margin:0\">📄 Nova Receita Recebida</h2>\n    </div>\n    <div style=\"padding:30px;\">\n      <p><b style=\"color:#0047AB\">👤 Nome:</b> {{ $json.nome }}</p>\n      <p><b style=\"color:#0047AB\">📧 E-mail:</b> {{ $json.email }}</p>\n      <p><b style=\"color:#0047AB\">📱 WhatsApp:</b> {{ $json.whatsapp }}</p>\n      <p style=\"margin-top:20px;\">O documento enviado pelo paciente está em anexo com o <b>rodapé</b> contendo os dados confirmados.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "attachmentsBinary": [{ "property": "data" }]
        }
      },
      "id": "gmail-receita",
      "name": "Gmail Receita",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [660, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'Receita recebida com sucesso' } }];"
      },
      "id": "responder",
      "name": "Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook Receita": { "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]] },
    "Extrair Dados": { "main": [[
      { "node": "Gmail Receita", "type": "main", "index": 0 },
      { "node": "Responder", "type": "main", "index": 0 }
    ]] }
  },
  "settings": { "executionOrder": "v1" }
}
